# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# General
*.log
*.tmp
*.bak
*.swp

# Compiled Object files
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll

# Others
/packages/
riderModule.iml
/_ReSharper.Caches/

# 로컬 문서 (깃에 올리지 않음)
코드설명.md
